
table {
    border: 1px solid black;    /* граница всей таблицы */
    border-collapse: collapse;    /* cхлопываем границы */
}

tr {
    border: 1px solid black;    /* границы между строками */
}

td, th {
    border: 1px solid black;    /* границы между столбцами */
    padding: 5px;
}